<div class="container">
    <a class="pull-right btn btn-primary btn-large" ng-href="/user">Ajouter un utilisatuer</a>
    <h2>Utilisateur <small>{{ ctrl.version }}</small></h2>
    <table class="table">
        <thead>
            <tr>
                <th><a href="#" ng-click="ctrl.order('name')">Nom</a></th>
                <th><a href="#" ng-click="ctrl.order('age')">Age</a></th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="user in ctrl.users |  orderBy:ctrl.orderPred:ctrl.reverse  track by $index">
                <td>
                    <a ng-href="/user/{{user.id}}"> 
                        {{ user.name }}
                    </a>
                    <div class="form-group">
                        <span uib-rating ng-model="user.rating" max="10"></span>
                    </div>
                </td>
                <td>{{ user.age }}</td>
                <td>
                    <dta-gravatar on-deactivate="ctrl.deactivate()" email="user.email">
                    </dta-gravatar>
                </td>
                <td style="text-align:right" ng-if="!ctrl.undo[user.id]">
                    <button ng-click="ctrl.deleteUser(user)" class="btn btn-default btn-warning">Supprimer</button>
                </td>
                <td style="text-align:right" ng-if="ctrl.undo[user.id]">
                    <button ng-click="ctrl.cancelDelete(user)" type="button" class="btn btn-default btn-warning">Annuler</button>
                </td>

            </tr>
        </tbody>
    </table>

</div>