<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Angular</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>


    <style>
        .joli {
            color: red;
        }
        
        .beau {
            border: 1px solid green;
        }
    </style>
</head>

<body ng-app="app">

    <ng-include src="'templates/one.html'"></ng-include>
    <ng-include src="'templates/one.html'"></ng-include>

    <h1>Angular</h1>
    <div ng-controller="MyFirstController as ctrl">

        <!-- <ul>
            <li ng-repeat="user in ctrl.users" ng-if="ctrl.startWithT(user)">{{ user.name }}</li>
        </ul>-->
        <!-- <ul>
            <li ng-repeat="user in ctrl.filterUsers(ctrl.users)">{{ user.name | uppercase }}</li>
        </ul>
-->
        <ul>
            <li ng-repeat="user in ctrl.users track by $index">
                <button ng-click="ctrl.show(user)">{{ $index + 1 }}</button>
                <span ng-if="user.show">{{ user.name }}</span>
            </li>
        </ul>

        <p ng-class="{joli: ctrl.clicked, beau: ctrl.clicked}" ng-click="ctrl.classApplicator()">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure vel quia quis nihil. Quia quis odio iusto quas dolorum et officiis quo dolorem sed exercitationem totam, quisquam, repellendus. Culpa, repellat!
        </p>

        <input type="text" ng-model="ctrl.name">

        <ul>
            <li ng-repeat="user in ctrl.filter()">{{ user.name }}</li>
        </ul>



        <input type="text" ng-model="name">
        <ul>
            <li ng-repeat="user in ctrl.users | filter:name ">{{ user.name }}</li>
        </ul>

        <h2>{{ 'bonjour' | exclam:3 }}</h2>
        <h2>{{ 'bonjour' | exclam }}</h2>


        <table>
            <tr>
                <td><a href="#" ng-click="ctrl.order('name')">Nom</a></td>
                <td><a href="#" ng-click="ctrl.order('age')">Age</a></td>
            </tr>
            <tr ng-repeat="user in ctrl.users |  orderBy:ctrl.orderPred:ctrl.reverse  track by $index">
                <td>{{ user.name }}</td>
                <td>{{ user.age }}</td>
            </tr>
        </table>
    </div>

</body>


</html>